@import "globals.css";
.wrapper {}

:global {
  & .Select-control {
    background-color: var(--husk);
    border-radius: 0;
    border: 0;
    height: rem(50);
  }
  & .Select-arrow {
    border-color: white transparent transparent;
  }
  & .Select-placeholder,
  & .Select--single>.Select-control .Select-value,
  & .Select-input {
    @apply --smallText;
    color: white;
    line-height: rem(50);
  }
  & .is-open {
    & .Select-placeholder {
      color: black;
    }
  }
  & .has-value.Select--single>.Select-control .Select-value .Select-value-label,
  & .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
    color: gray(20%);
  }
}
