@import "globals.css";
.wrapper {
  position: absolute;
  top: rem(89);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  & li {
    @apply --smallText;
    margin-left: rem(20);
    text-transform: uppercase;
    & a{
      color: white;
      transition: all 0.2s;
      &:hover{
        color: var(--husk);
      }
      &.active{
        color: var(--muddyWaters);
      }
    }
  }
}

:global {
  & .productsNavMobile{
    margin: rem(70) 0;
    width: 70%;
    position: relative;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    & .Select-control{
      background-color: transparent;
      border-bottom: 1px solid white;
      & .Select-value{
        padding: 0;
        & .Select-value-label{
          color: var(--muddyWaters) !important;
        }
        & .Select-arrow-zone{
          padding-right: 0 !important;
        }
        & .Select-arrow{
          border-color: var(--muddyWaters) !important;
        }
      }
    }
  }
}
