@import "globals.css";
.wrapper {
  position: absolute;
  top: rem(89);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  & li {
    @apply --smallText;
    margin-left: rem(20);
    text-transform: uppercase;
    & a{
      color: white;
      transition: all 0.2s;
      &:hover{
        color: var(--husk);
      }
      &.active{
        color: var(--muddyWaters);
      }
    }
  }
}

.option{
  margin: rem(100) 0;
}
