@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: rem(60) 0;
  background-color: var(--bokara);
  width: 100%;
  @media (--medium-and-up) {
    padding: rem(120) 0 rem(70);
  }
}

.container{
  composes: globalContainer;
}

.header{
  @apply --defaultHeader;
}
