@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: rem(120) 0 rem(60);
  background-image: var(--defaultGradient);
  position: relative;
  width: 100%;
}

.container {
  composes: globalContainer;
}

.header {
  @apply --defaultHeader;
}

.productDevelopment {
  width: calc(66% - rem(10));
}

.productImage {
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: rem(1300);
  height: rem(1300);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-25%);
}
