@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: var(--defaultGradient);
  position: relative;
  width: 100%;
  padding: rem(30) 0;
  @media (--medium-and-up) {
    padding: rem(120) 0 rem(60);
  }
}

.container {
  composes: globalContainer;
}

.header {
  @apply --defaultHeader;
}

.productDevelopment {
  width: 100%;
  @media (--medium-and-up) {
    width: calc(66% - rem(10));
  }
}

.productImage {
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: rem(400);
  height: rem(400);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(60%) translateY(-85%);
  @media (--large-and-up) {    
    width: rem(1300);
    height: rem(1300);
    transform: translateX(35%) translateY(-27%);
  }
}
