/* Chap Light */

@font-face {
  font-family: 'Chap';
  src: url('assets/fonts/ChapLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


/* Scandia Web Regular */

@font-face {
  font-family: 'Scandia';
  src: url('assets/fonts/ScandiaWebRegular.woff2') format('woff2'), url('assets/fonts/ScandiaWebRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
