@import "variables.css";
:root {
  --smallText: {
    font-size: rem(11);
    text-transform: uppercase;
    letter-spacing: rem(2);
    word-spacing: rem(4);
  }

  --defaultHeader: {
    margin-bottom: rem(30);
    & .headline{
      color: white;
      padding-bottom: rem(20);
      margin-bottom: rem(30);
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: rem(2);
        width: rem(30);
        background-color: var(--muddyWaters);
      }
    }
    & .intro{
      width: 40%;      
    }
  }

  --defaultBgImage: {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  --boxShadowRight: {
    box-shadow: rem(22) rem(0) rem(40) rem(30) color(black alpha(10%));
  }

  --boxShadowLeft: {
    box-shadow: rem(-22) rem(0) rem(40) rem(30) color(black alpha(10%));
  }
}
