@import "variables.css";
:root {
  --smallText: {
    font-size: rem(8);
    text-transform: uppercase;
    letter-spacing: rem(1.8);
    word-spacing: rem(3.5);
    @media (--large-and-up) {
      font-size: rem(11);
      letter-spacing: rem(2);
      word-spacing: rem(4);
    }
  }
  --defaultHeader: {
    margin-bottom: rem(30);
    & .headline {
      color: white;
      padding-bottom: rem(15);
      margin-bottom: rem(15);
      position: relative;
      @media (--medium-and-up) {
        padding-bottom: rem(30);
        margin-bottom: rem(30);
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: rem(1);
        width: rem(30);
        background-color: var(--muddyWaters);
      }
    }
    & .intro {
      @media (--medium-and-up) {
        width: 60%;
      }
    }
  }
  --homeHeader: {
    @apply --defaultHeader;
    @media (--only-small) {
      margin-bottom: rem(15);
    }
    & .headline{
      color: var(--muddyWaters);
      @media (--only-small) {
        padding-bottom: 0;
        margin-bottom: 0;
        &:after {
          top: rem(-30);
        }
      }
      @media (--medium-and-up) {
        padding-bottom: 0;
        &:after{
          display: none;
        }
      }
    }
  }
  --defaultBgImage: {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  --boxShadowRight: {
    box-shadow: rem(22) rem(0) rem(15) rem(20) color(black alpha(5%));
  }
  --boxShadowLeft: {
    box-shadow: rem(-22) rem(0) rem(15) rem(20) color(black alpha(5%));
  }
}
