@import "variables.css";

:global{
  & body{
    background-color: var(--background);
    color: white;
    min-height: 100vh;
  }
}

.globalContainer {
  align-self: center;
  width: rem(900);
  max-width: 100%;
  position: relative;
  z-index: 2;
}
