@import "globals.css";
.wrapper {
  /* background-image: url(assets/images/Intro_Smoke-Web.png); */
  background-position: right 0;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headline{
  text-align: center;
  @media (--only-small) {
    max-width: rem(240);
  }
}

.cta{
  margin-top: rem(30);
  position: relative;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
  & span{
    @apply --smallText;
    position: relative;
    z-index: 1;
    padding: rem(5) rem(15);
  }
  &:before{
    content: '';
    width: calc(100% - rem(30));
    height: rem(2);
    background-color: var(--muddyWaters);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
  }
  &:hover{
    &:before{
      height: 100%;
      width: 100%;
    }
  }
  @media (--only-small) {
    &:before{
      height: 100%;
      width: 100%;
    }    
  }
}

.bgImage {
  @apply --defaultSmoke;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 1;
  @media (--medium-and-up) {
    transform: translate(30%, 30%);
    & svg path {
      animation: smokeAnimation 10s ease infinite;
      stroke-dasharray: 1800;
      stroke-dashoffset: 1800;
      stroke: black;
    }  
  }
}

@keyframes smokeAnimation {
  100% {
    stroke-dashoffset: -1800;
    stroke: gray(5%);
  }
}
