@import "globals.css";
.wrapper {
  margin-bottom: rem(60);
  width: 100%;
  overflow-x: hidden;
  @media (--medium-and-up) {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    margin-bottom: rem(120);
  }
}

.container {
  composes: globalContainer;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (--medium-and-up) {
    min-height: 100vh;
  }
}

.headline{
  max-width: rem(200);
  @media (--medium-and-up) {
    max-width: rem(700);    
  }
}

.nav {
  @apply --smallText;
  @media (--medium-and-up) {
    position: absolute;
    bottom: rem(60);
    width: rem(600);
  }    
  & .navTitle {
    color: var(--muddyWaters);
  }
  & .navItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: rem(20);
    margin-bottom: 0;
    & .navItem {
      width: calc(50% - rem(10));
      margin-top: rem(10);
      & a {
        color: white;
      }
    }
  }
}

.productImage {
  @apply --defaultBgImage;
  & .meta {
    display: none;
  }
  @media (--only-small) {
    transform: translateX(rem(30));
    height: rem(300);
    width: 100%;
  }    
  @media (--medium-and-up) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;  
    & .meta {
      display: block;
      @apply --smallText;
      position: absolute;
      left: rem(60);
      bottom: rem(60);
    }  
  }
}
