@import "globals.css";
.wrapper {
  margin-bottom: rem(60);
  width: 100%;
  @media (--medium-and-up) {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    margin-bottom: rem(120);
  }
}

.container {
  composes: globalContainer;
  z-index: 3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  & .company {
    position: relative;
    padding-left: rem(100);
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: rem(2);
      width: rem(80);
      background-color: var(--muddyWaters);
    }
  }
  & .headline {
    margin: rem(80) 0;
  }
}

.nav {
  @apply --smallText;
  @media (--medium-and-up) {
    position: absolute;
    bottom: rem(60);  
    width: rem(600);
  }    
  & .navTitle {
    color: var(--muddyWaters);
  }
  & .navItems {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    & .navItem {
      width: 50%;
      margin-top: rem(10);
      & a {
        color: white;
      }
    }
  }
}

.productImage {
  height: rem(200);
  width: 100%;
  @apply --defaultBgImage;
  & .meta {
    @apply --smallText;
    position: absolute;
    left: rem(60);
    bottom: rem(60);
  }
  @media (--medium-and-up) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;  
  }
}
