@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: rem(30);
  @media (--medium-and-up) {
    margin-top: rem(100);
  }    
}

.container {
  composes: globalContainer;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  @apply --defaultHeader;
}

.middleImage {
  width: 100%;
  height: rem(200);
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  margin: rem(40) 0 0;
  position: relative;
  & .meta {
    display: none;
  }
  @media (--medium-and-up) {
    margin: rem(60) 0 0;
    height: rem(500);
    & .meta {
      display: block;
      @apply --smallText;
      position: absolute;
      bottom: rem(60);
      right: rem(120);
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: rem(-120);
        transform: translateX(50%) translateY(-50%);
        width: rem(50);
        height: rem(1);
        background-color: var(--muddyWaters);
      }
    }
  }
}
