@import "globals.css";
.wrapper {
  composes: globalWrapper;
  position: relative;
  margin-bottom: rem(50);
  width: 100%;
  @media (--only-small) {
    &:after{
      content: 'SCROLL';
      @apply --smallText;
      transform: rotate(90deg) translateY(-50%);
      color: white;
      position: absolute;
      left: 0;
      bottom: rem(185);
    }
  }
  @media (--medium-and-up) {
    flex-direction: row;
    margin-bottom: rem(150);
  }
}

.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  @media (--medium-and-up) {
    min-height: 100vh;
    justify-content: center;    
  }
}

.hero{
  &:before {
    display: none;
  }
}

.productImage {
  @apply --defaultBgImage;  
  width: 58%;
  height: 100vh;
  & .meta {
    @apply --smallText;
    position: absolute;
    left: rem(140);
    bottom: rem(70);
  }
  @media (--only-small) {
    width: 100%;
    height: rem(200);
    top: auto;
    bottom: 0;
    & .meta {
      left: auto;
      right: rem(30);
      bottom: rem(30);
    }  
  }
  @media (--medium-and-up) {    
    position: absolute;
    top: 0;
    right: 0;
  }
}
