@import "globals.css";
.wrapper {
  composes: globalWrapper;
  position: relative;
  flex-direction: row;
  margin-bottom: rem(50);
  width: 100%;
  @media (--only-small) {
    &:after{
      content: 'SCROLL';
      @apply --smallText;
      transform: rotate(90deg) translateY(-50%);
      color: white;
      position: absolute;
      left: 0;
      bottom: 20%;
    }
  }
  @media (--large-and-up) {
    margin-bottom: rem(150);
  }
}

.container {
  composes: globalContainer;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @media (--medium-and-up) {
    justify-content: center;    
  }
}

.hero{
  top: auto;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: rem(80);
  @media (--medium-and-up) {
    margin-top: 0;
  }
}

.productImage {
  @apply --defaultBgImage;  
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  & .meta {
    @apply --smallText;
    position: absolute;
    left: rem(60);
    bottom: rem(60);
  }
  @media (--only-small) {
    width: 100%;
    height: rem(200);
    top: auto;
    bottom: 0;
    & .meta {
      left: auto;
      right: rem(30);
      bottom: rem(30);
    }  
  }
}
