@import "globals.css";
.wrapper {
  composes: globalWrapper;
  flex-direction: row;
  @media (--large-and-up) {
    margin-top: rem(100);
    margin-bottom: rem(140);
  }
}

.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  @media (--large-and-up) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.primaryCol {
  margin-bottom: rem(60);
  @media (--large-and-up) {
    width: 70%;
    margin-bottom: 0;
  }
  & .header{
    @apply --homeHeader;
    & .headline {
      @media (--large-and-up) {
        width: 50%;
        position: relative;
        &:after {
          right: rem(-30);
          bottom: rem(10);
          left: auto;
          top: auto;
          transform: translateX(100%);
          width: rem(100);
          background-color: gray(90%);
        }
      }
    }
  }  
  & .body {
    @media (--large-and-up) {
      column-count: 2;
      column-gap: rem(60);
      column-width: 50%;
    }
  }
}

.services {
  @media (--medium-and-down) {
    margin: rem(60) 0 rem(30);
    & .header{
      @apply --homeHeader;
    }
    & .body {
      column-count: 2;
      column-gap: rem(30);
      column-width: 50%;
      margin-bottom: rem(15);
    }
  }
  @media (--large-and-up) {
    margin-top: rem(30);
    width: 15%;
    & .body {
      margin: rem(20) 0;
    }
    & .headline {
      font-size: rem(18);
    }
  }
  text-align: left;
  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.bgImage {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: var(--defaultSmokeOpacity);
  & img {
    width: 100%;
  }
}
