@import "globals.css";
:root {
  --barHeight: rem(2);
  --barHeightLarge: rem(2);
}

.bars {
  position: relative;
  z-index: 9;
  width: rem(24);
  height: rem(16);
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  align-items: center;
  pointer-events: auto;
  @media (--medium-and-up) {
    width: rem(30);
    height: rem(22);
  }    
  &:before,
  &:after {
    @apply --smallText;
    color: white;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translate(rem(-40), -50%);
    transition: all 0.2s easeOutCubic;
    text-align: right;
    @media (--medium-and-up) {
      transform: translate(rem(-40), -50%);
      font-size: rem(9);
    }
  }
  &:before {
    content: 'MENU';
    transform: translate(rem(-60), -50%);
  }
  &:after {
    opacity: 0;
    content: 'CLOSE';
  }
  & span {
    position: relative;
    z-index: 2;
    display: block;
    height: var(--barHeight);
    width: 50%;
    background: var(--muddyWaters);
    opacity: 1;
    transform: rotate(0deg);
    transition: .3s easeOutCubic;
    margin-bottom: rem(5);
    @media (--medium-and-up) {
      height: var(--barHeightLarge);
    }
  }
  & span:nth-child(5),
  & span:nth-child(6) {
    margin-bottom: 0;
  }
  & span:nth-child(even) {
    /* border-radius: 0 var(--barHeight) var(--barHeight) 0; */
  }
  & span:nth-child(odd) {
    /* border-radius: var(--barHeight) 0 0 var(--barHeight); */
  }
  &.open {
    &:before {
      transform: translate(rem(-40), -50%);
      opacity: 0;
    }
    &:after {
      transform: translate(rem(-50), -50%);
      opacity: 1;
      @media (--medium-and-up) {
        transform: translate(rem(-60), -50%);
      }        
    }
    & span:nth-child(1),
    & span:nth-child(2) {
      /* margin-bottom: rem(7); */
    }
    & span:nth-child(1) {
      transform: rotate(45deg) translateX(rem(4)) translateY(rem(1));
    }
    & span:nth-child(2) {
      transform: rotate(-45deg) translateX(rem(-4)) translateY(rem(1));
    }
    & span:nth-child(3) {
      transform: translateX(-50%);
      opacity: 0;
    }
    & span:nth-child(4) {
      transform: translateX(50%);
      opacity: 0;
    }
    & span:nth-child(5) {
      transform: rotate(-45deg) translateX(rem(4)) translateY(rem(-1));
    }
    & span:nth-child(6) {
      transform: rotate(45deg) translateX(rem(-4)) translateY(rem(-1));
    }
  }
  &:not(.open):hover{
    &:before{
      color: var(--husk);
    }
    & span{
      background: var(--husk);
    }
    & span:nth-child(4) {
      width: 30%;
    }
    & span:nth-child(6) {
      width: 20%;
    }
  }
}
