@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  &:after{
    content: '';
    width: 60%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--bokara);
    position: absolute;
    z-index: 1;
  }
  @media (--only-small) {
    flex-direction: column;
    &:after{
      top: rem(270);
      width: 100%;
      height: rem(400);
    }
  }
}

.container{
  composes: globalContainer;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.productImage{
  @apply --defaultBgImage;  
  position: absolute;
  width: 50%;
  height: rem(500);
  z-index: 2;
  top: rem(200);
  right: 0;
  & .meta{
    position: absolute;
    left: rem(60);
    bottom: rem(60);
  }
  @media (--only-small) {
    position: relative;
    top: auto;
    left: rem(30);
    height: rem(200);
    width: calc(100% - rem(30));
    margin-top: rem(30);
  }
}
