@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: rem(150); */
  &:after{
    content: '';
    width: 60%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: var(--bokara);
    position: absolute;
    z-index: 1;
  }
}

.container{
  composes: globalContainer;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.productImage{
  @apply --defaultBgImage;  
  position: absolute;
  width: 50%;
  height: rem(500);
  z-index: 2;
  top: rem(200);
  right: 0;
  & .meta{
    position: absolute;
    left: rem(60);
    bottom: rem(60);
  }
}
