@import "globals.css";
.wrapper {
  width: calc(25% - rem(30));
  margin-bottom: rem(40);
}

.image {
  width: 100%;
  height: rem(360);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  & .loadingSpinner {
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray(70%);
  }
  &.loading{
    & .loadingSpinner{
      opacity: 1;
    }
  }
}

.productInfo{
  background-color: var(--bokara);
  padding: rem(20);
  & .title {
    color: white;
    margin-bottom: rem(10);
    text-transform: uppercase;
  }
  
  & .price {
    color: var(--muddyWaters);
  }
}
