@import "globals.css";
.wrapper {
  width: calc(50% - rem(5));
  margin-bottom: rem(10);
  @media (--medium-and-up) {
    width: calc(25% - rem(30));
    margin-bottom: rem(40);
  }
}

.imageWrapper {
  width: 100%;
  height: rem(150);
  position: relative;
  overflow: hidden;
  @media (--medium-and-up) {
    height: rem(300);
  }
  & .image{
    height: inherit;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .9s easeOutQuart;
    &:hover{
      transform: scale(1.2);
    }  
  }
  & .loadingSpinner {
    opacity: 0;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    min-height: auto;
    background-color: gray(70%);
    pointer-events: none;
  }
  &.loading{
    & .loadingSpinner{
      opacity: 1;
    }
  }
}

.productInfo{
  background-color: var(--bokara);
  padding: rem(10);
  @media (--medium-and-up) {
    padding: rem(20);
  }
  & .title {
    color: white;
    margin-bottom: rem(10);
    text-transform: uppercase;
    @media (--only-small) {
      margin-bottom: rem(3);
      font-size: rem(9);
      line-height: rem(9);
    }
  }
  
  & .price {
    @apply --smallText;
    display: block;
    color: var(--muddyWaters);
  }
}
