@import "globals.css";
.default {
  @apply --smallText;
  position: relative;
  align-self: flex-start;
  display: inline-block;
  text-align: center;
  padding-left: rem(60);
  padding-right: rem(10);
  margin-top: rem(5);
  height: rem(36);
  color: white;
  text-decoration: none;
  transition: all 0.2s easeOutCubic;
  border: 0;
  background-color: transparent;
  user-select: none;
  & .label {
    position: relative;
    z-index: 2;
    user-select: none;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(rem(-1));
    height: rem(2);
    width: rem(40);
    background-color: var(--robRoy);
    transition: all 0.2s easeOutCubic;
  }
  &:hover {
    padding-left: rem(35);
    padding-right: rem(35);
    &:before {
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  @media (--medium-and-down) {
    font-size: rem(10);    
    padding-left: rem(30);
    padding-right: rem(30);
    &:before {
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  &,
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.disabled {
  pointer-events: none;
  padding-left: rem(30);
  padding-right: rem(30);
  color: gray(60%);
  &:before {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: gray(30%);
  }
}
