@import "globals.css";
.wrapper {
  composes: globalWrapper;
  flex-direction: row;
  margin-top: rem(30);
  margin-bottom: rem(30);
  @media (--large-and-up) {
    margin-top: rem(80);
    margin-bottom: rem(120);
  }
}

.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  @media (--large-and-up) {
    flex-direction: row;
    align-items: center;
  }
}

.header{ 
  @apply --homeHeader;
  & .headline{
    &:after{
      display: none;
    }
  }
}

.leftBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: gray(40%);
  padding: rem(60) rem(30) rem(130);
  background: var(--defaultGradient);
  @media (--large-and-up) {
    padding: 0 0 rem(120) 0;
    height: rem(600);
    width: 50%;
  }
  & .content {
    @media (--large-and-up) {
      width: rem(400);
    }
  }
  & .cta {
    position: absolute;
    bottom: rem(-80);
    z-index: 3;
    @media (--medium-and-up) {
      position: relative;
      bottom: auto;
    }
  }
  &:before {
    content: '';
    position: absolute;
    left: rem(30);
    bottom: rem(40);
    height: rem(40);
    width: rem(1);
    background-color: gray(90%);

    @media (--medium-and-up) {
      top: rem(120);
      width: rem(80);
      height: rem(1);
      transform: translateX(-90%);
    }
  }
}

.rightBox {
  @apply --defaultBgImage;
  background-position: 0 center;
  height: rem(200);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray(70%);
  z-index: 1;
  margin-top: rem(-80);
  position: relative;
  @apply --boxShadowLeft;
  @media (--large-and-up) {
    height: rem(680);
    width: 50%;
    margin-top: 0;
  }
}
