@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.showCart{
    overflow: hidden !important;
    height: 100vh;
  }
  &.navOpen{
    overflow: hidden !important;
  }
}
