@import "globals.css";
.cart {
  position: fixed;
  top: rem(15);
  right: rem(15);
  color: white;
  cursor: pointer;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container{
  composes: globalContainer;
}
