@import "globals.css";
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: rem(280);
    background-color: var(--bokara);
    @media (--medium-and-up) {
      height: rem(340);
    }
  }
}

.container{
  composes: globalContainer;
}
