@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: column;
  @media (--large-and-up) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.box {
  width: 100%;
  margin-bottom: rem(30);
  @media (--large-and-up) {
    width: calc(33% - rem(40));
    margin-bottom: rem(70);
  }
  & .title {
    font-size: rem(16);
    height: rem(50);
    letter-spacing: rem(2);
    word-spacing: normal;
  }
  & .body {
    & p {
      margin-bottom: 0;
    }
  }
  & ol,
  & ul {
    margin: 0;
    padding-left: rem(20);
  }
}

.oneCol {
  & .box {
    width: 100%;
  }
}

.twoCol {
  & .box {
    width: calc(50% - rem(20));
  }
}
