@import "globals.css";
.wrapper {
  min-height: 100%;
  max-width: 100%;
  &.navOpen{

  }
}

.navBgImage{
  @apply --defaultBgImage;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition-property: opacity, transform;
  transition-duration: .6s;
  transition-timing-function: ease-out;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

.navOpen {
  & .navBgImage{
    transition-duration: .4s;
    opacity: 1;
    animation: zoomIn 8s forwards ease-out;
    pointer-events: auto;
    z-index: 4;
  }
}

@keyframes zoomIn {
  100% {
    transform: scale(1.1);
  }
}  

:global{
  & .animatedSection{
    position: relative;
    z-index: 1;
    width: 100%;
    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    will-change: transform;
  }

  & .fade-appear,
  & .fade-enter {
    transform: translateX(-100%);
    z-index: 4;
    will-change: transform;
    & .animatedSection{
      opacity: 0;
      transform: translateX(-7%);
    }
    & .delayedFadeUp{
      opacity: 0;
      transform: translateY(rem(100));
    }
  }
  
  & .fade-appear-active,
  & .fade-enter-active {
    transition-property: opacity, transform;
    transition-duration: .6s;
    transition-timing-function: easeInOutCirc;
    transform: translateX(0%);
    & .animatedSection{
      transition-duration: 1s;
      transition-delay: .5s;
      transform: translateX(0%);
      opacity: 1;
    }
    & .delayedFadeUp{
      transition-property: opacity, transform;
      transition-duration: .6s;
      transition-timing-function: ease-out;
      transition-delay: 0.6s;
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  & .fade-exit-active {
    & .animatedSection{
      transition-duration: .2s;
      transition-timing-function: ease-out;
      opacity: 0;
    }
  }

  & .page-main {
    position: relative;
  }
  
  & .page-main-inner { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
