@import "globals.css";
.animatedRoutes {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.routesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
