@import "globals.css";
.wrapper {
  min-height: 100%;
}

.animatedRoutes {
  position: relative;
  width: 100%;
}

.routesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh; 
}
