@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  @media (--medium-and-up) {
    margin-top: rem(120);
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: rem(-130);
    width: 100%;
    height: 100vh;
    background-color: var(--bokara);
    @media (--medium-and-up) {
      top: rem(-500);
      height: 300vh;
    }
  }
}

.container {
  composes: globalContainer;
  @media (--only-small) {
    padding-bottom: 0;
  }
}

.header {
  @apply --defaultHeader;
  @media (--only-small) {
    margin-bottom: 0;
  }
}
