:root {
  --barHeight: rem(4)
}

.bars {
  position: relative;
  z-index: 2;
  width: rem(30);
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  & span {
    display: block;
    height: var(--barHeight);
    width: 50%;
    background: white;
    opacity: 1;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
    margin-bottom: rem(5);
  }
  & span:nth-child(5),
  & span:nth-child(6) {
    margin-bottom: 0;
  }
  & span:nth-child(even) {
    border-radius: 0 var(--barHeight) var(--barHeight) 0;
  }
  & span:nth-child(odd) {
    border-radius: var(--barHeight) 0 0 var(--barHeight);
  }
  &.open {
    & span:nth-child(1),
    & span:nth-child(2) {
      margin-bottom: rem(7);
    }
    & span:nth-child(1) {
      transform: rotate(45deg) translateX(rem(3));
    }
    & span:nth-child(2) {
      transform: rotate(-45deg) translateX(rem(-3));
    }
    & span:nth-child(3) {
      transform: translateX(-50%);
      opacity: 0;
    }
    & span:nth-child(4) {
      transform: translateX(50%);
      opacity: 0;
    }
    & span:nth-child(3),
    & span:nth-child(4) {
      margin-bottom: rem(0);
    }
    & span:nth-child(5) {
      transform: rotate(-45deg) translateX(rem(3));
    }
    & span:nth-child(6) {
      transform: rotate(45deg) translateX(rem(-3));
    }
  }
}
