@import "globals.css";
.wrapper {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  @media (--large-and-up) {
    top: rem(60);
  }
}

.container {
  composes: globalContainer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.headroom {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 9;
}

.logo{
  width: rem(30);
  height: rem(30);
  @media (--large-and-up) {
    width: rem(50);
    height: rem(50);      
  }
}

:global {
  & .headroom{
    display: flex;
    justify-content: center;  
    width: 100%;
  }
  /* deactive */
  & .headroom--unpinned {
    transition: all 200ms;
    transform: translateY(rem(-40));
    opacity: 0;
  }
  & .headroom--scrolled {
    transition: all 200ms;
  }
  & .headroom--unfixed {
    position: relative;
  }
  & .headroom--unfixed,
  & .headroom--pinned {
    transform: translateY(rem(0));
    opacity: 1;
  }
}

