@import "globals.css";
.wrapper {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  pointer-events: none;
  @media (--large-and-up) {
    top: rem(70);
  }
}

.container {
  composes: globalContainer;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.rightCol{
  display: flex;
}

.headroom {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 9;
}

.logo {
  pointer-events: auto;
  width: rem(30);
  height: rem(30);
  &:hover{
    & path,
    & polyline,
    & circle {
      fill: var(--muddyWaters);
    }
  }
  @media (--large-and-up) {
    width: rem(50);
    height: rem(50);
  }
}

.cart {
  @apply --smallText;
  position: relative;
  z-index: 9;
  pointer-events: auto;
  color: white;
  cursor: pointer;
  margin-right: rem(70);
  word-spacing: 0;
  @media (--medium-and-up) {
    margin-right: rem(100);
  }    
}

:global {
  & .headroom {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  /* deactive */
  & .headroom--unpinned {
    transition: all 200ms;
    transform: translateY(rem(-40));
    opacity: 0;
  }
  & .headroom--scrolled {
    transition: all 200ms;
  }
  & .headroom--unfixed {
    position: relative;
  }
  & .headroom--unfixed,
  & .headroom--pinned {
    transform: translateY(rem(0));
    opacity: 1;
  }
}
