@import "globals.css";
.cta{
  margin-top: rem(30);
}
.response{
  margin-top: rem(30);
  &.success{
    color: var(--success);
  }  
}

.groupLabel{
  @apply --smallText;
  font-size: rem(12);
  font-weight: light;
  margin-top: rem(15);
  margin-bottom: rem(15);
  -webkit-font-smoothing: antialiased;
}
