@import "globals.css";
.wrapper {
  padding-top: rem(60);
  @media (--medium-and-up) {
    padding-top: rem(30);
    margin-top: rem(30);    
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
  width: 100%;
  & a {
    color: white;
    &:hover{
      color: var(--muddyWaters);
    }
  }
  @media (--medium-and-up) {
    padding-top: rem(60);
    margin-top: rem(60);
  }
}

.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  @apply --smallText;
  @media (--medium-and-up) {
    flex-direction: row;
  }
}

.details {
  display: flex;
  margin-bottom: rem(30);
  @media (--medium-and-up) {
    margin-bottom: 0;
  }
  & .logo {
    margin-right: rem(20);
    width: rem(40);
    height: rem(40);
    @media (--medium-and-up) {
      width: rem(50);
      height: rem(50);
      margin-right: rem(30);
    }
    & path,
    & polyline,
    & circle {
      fill: var(--muddyWaters);
    }
  }
}

.nav {
  display: flex;
  margin-bottom: rem(20);
  width: calc(100% - rem(60));
  align-self: flex-end;
  @media (--medium-and-up) {
    width: auto;
  }
  & ul {
    margin-left: rem(60);
    @media (--medium-and-up) {
      margin-left: rem(120);
    }
    &:first-child {
      margin-left: 0;
    }
    & li {
      margin-bottom: rem(10);
    }
  }
}

.copyright {
  @apply --smallText;
  margin: rem(10) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: gray(60%);
  width: calc(100% - rem(60));
  align-self: flex-end;
  & div {
    margin-bottom: rem(20);
  }
  @media (--medium-and-up) {
    flex-direction: row;
    margin: rem(100) 0;
    width: 100%;
    & div {
      margin-bottom: 0;
    }
  }
}

.bgImage {
  position: absolute;
  bottom: 0;
  right: 0;
  @apply --defaultSmoke;
}
