@import "globals.css";
.wrapper {
  composes: globalWrapper;
}

.container {
  composes: globalContainer;
  @media (--medium-and-up) {
    display: flex;
    justify-content: space-between;
  }
}

.contactCol,
.sampleKitCol {
  width: 100%;
  @media (--medium-and-up) {
    width: rem(500);
  }
}

.contactCol{
  margin-bottom: rem(60);
}

.headline {
  color: white;
  margin-bottom: rem(30);
}
