@import "globals.css";
.input{
  display: none;
  margin-top: rem(30);
  background-color: var(--muddyWaters);
  color: white;
  border: 0;
  padding: rem(5) rem(20);
  &::placeholder{
    color: white;
  }
  @media (--large-and-up) {
    display: block;
  }
}
