@import "globals.css";
.container {
  display: flex;
  margin-bottom: rem(20);
  overflow: hidden;
  backface-visibility: visible;
  min-height: rem(65);
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.image {
  min-width: rem(65);
  min-height: rem(65);
  border-radius: rem(3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
}

.content {
  width: 100%;
  margin-left: rem(20);
}

.contentRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: rem(5);
  &:last-child{
    margin-bottom: 0;
  }
}

.variantTitle {
  font-weight: bold;
  font-size: rem(11);
  line-height: rem(17);
  color: #767676;
}

.title {
  color: white;
  font-size: rem(14);
  line-height: rem(14);
  font-weight: 400;
}

.price {
  font-weight: bold;
  font-size: rem(15);
}

.quantityContainer {
  border: rem(1) solid gray(40%);
  border-radius: rem(3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantityUpdate {
  color: gray(40%);
  width: rem(25);
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: rem(18);
  line-height: rem(10);
  text-align: center;
}

.quantityUpdateForm {
  display: inline;
}

.quantity {
  color: gray(80%);
  width: rem(38);
  font-size: rem(15);
  line-height: 100%;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: rem(1) solid gray(40%);
  border-right: rem(1) solid gray(40%);
  display: block;
  padding: 0;
  border-radius: 0;
}

.remove {
  border: 0;
  background: 0;
  font-size: rem(20);
  line-height: 100%;
  opacity: 0.6;
  transition: all 0.2s;
}

.remove:hover {
  opacity: 1;
  cursor: pointer;
}
