@import "globals.css";

.wrapper{
  composes: globalWrapper;
  width: 100%;
  padding: rem(90) 0;
  position: relative;
  &:before{
    content: '';
    background-image: var(--defaultGradient);
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100%;
  }
}

.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  height: rem(1000);
  & .inner{
    width: calc(50% - rem(90));
  }
}

.headline{
  
}
