@import "globals.css";
.container {
  min-height: rem(600);
  & .loadingSpinner{
    min-height: inherit;
  }
}

.nav {
  display: flex;
  list-style-type: none;
  & li {
    margin-left: rem(15);
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
