@import "globals.css";
.container {}

.nav {
  display: flex;
  list-style-type: none;
  & li {
    margin-left: rem(15);
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
