@import "globals.css";
.container {
  min-height: rem(600);
  & .loadingSpinner{
    min-height: inherit;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (--medium-and-up) {
    margin-top: rem(200);
  }
}

.scroll {
  @apply --smallText;
  position: absolute;
  right: rem(-60);
  top: calc(100vh - rem(109));
  transform: rotate(90deg);
}
