.wrapper {
  display: flex;
  list-style-type: none;
  padding: 0;
  & li {
    & a{
      color: white;      
    }
    margin-right: rem(30);
    &:last-child {
      margin-right: 0;
    }
  }
}

.socialMedia{
  & svg{
    height: rem(15);
    width: rem(15);
    margin-right: rem(8);
    & path{
      fill: white;
    }
  }
}

.nav{
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateX(rem(200));
  pointer-events: none;
  width: rem(800);
  padding: rem(60);
  height: 100vh;
  background-color: color(gray(20%) alpha(80%));
  transition: all 0.2s;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.open{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.navItems{
  list-style-type: none;
  margin: 0;
  padding: 0;
  & .navItem{
    font-size: rem(30);
    margin-bottom: rem(25);
    text-transform: uppercase;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.navFooter{
  display: flex;
  justify-content: space-between;
  width: rem(440);
  font-size: rem(16);
  & a{
    color: white;
  }
}
