@import "globals.css";
.wrapper {
  display: flex;
  list-style-type: none;
  padding: 0;
  & li {
    & a{
      color: white;      
    }
    margin-right: rem(30);
    &:last-child {
      margin-right: 0;
    }
  }
}

.socialMedia{
  & svg{
    height: rem(15);
    width: rem(15);
    margin-right: rem(8);
    & path{
      fill: white;
    }
  }
}

.nav{
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateX(rem(200));
  pointer-events: none;
  padding: rem(30);
  height: 100vh;
  width: 100%;
  background-color: color(gray(20%) alpha(80%));
  transition: all 0.2s;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (--large-and-up) {
    width: rem(700);
    padding: rem(60) rem(60) rem(60) rem(120);
  }    
  &.open{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.navItems{
  list-style-type: none;
  margin: 0;
  padding: 0;
  & .navItem{
    font-size: rem(26);
    line-height: rem(40);
    text-transform: uppercase;
    font-family: var(--primaryFont);
    @media (--large-and-up) {
      font-size: rem(38);
      line-height: rem(60);  
    }
    & a{
      color: var(--muddyWaters);  
      transition: color 0.2s;
      &:hover{
        color: white;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.navFooter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: rem(16);
  & a{
    color: white;
  }
  @media (--large-and-up) {
    flex-direction: row;
    width: rem(440);
    font-size: rem(16);  
  }      
}
