@import "globals.css";
.wrapper {
  margin-top: rem(200);
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @media (--medium-and-up) {
    margin-top: rem(200);
    flex-direction: row;
    & .leftCol {
      width: calc(45% - rem(80));
    }
    & .rightCol {
      width: calc(55% - rem(80));
    }  
  }
}

.title{
  color: white;
  @media (--only-small) {
    position: absolute;
    top: rem(150);
  }
}

.details {
  margin-top: rem(30);
  @media (--medium-and-up) {
    margin-top: rem(120);
  }
  & .specifications {
    margin-bottom: rem(30);
    padding-bottom: rem(30);
    border-bottom: 1px solid gray(20%);
    & .specification {
      display: flex;
      text-transform: uppercase;
      margin-bottom: rem(10);
      & .specificationName {
        color: var(--muddyWaters);
        margin-right: rem(80);
      }
    }
  }
}

.description {
  margin-bottom: rem(60);
}

.cta {
  & .buyButton {
    @apply --smallText;
    cursor: pointer;
    display: block;
    width: 100%;
    background-color: var(--muddyWaters);
    padding: rem(15) rem(20);
    text-align: left;
    display: flex;
    justify-content: space-between;
    &.disabled {
      opacity: 0.6;
    }
    & .icon{
      width: rem(15);
      height: rem(15);
      & svg{
        position: absolute;
        width: inherit;
        height: inherit;
        & path{
          fill: white;
        }
      }
      & .check{
        opacity: 0;
      }
      &.addedToCart {
        & .check {
          opacity: 1;
        }
        & .plus {
          opacity: 0;
        }
      }
    }
  }
  & .ctaMessage{
    font-size: rem(11);
    color: gray(90%);
    margin-top: rem(20);
    text-align: center;
  }
}

.image {
  @apply --defaultBgImage;
  width: 100%;
  height: rem(300);
  position: relative;
  @media (--medium-and-up) {
    height: rem(700);
  }
}

.images {
  position: absolute;
  top: rem(10);
  right: rem(10);
  display: flex;
  flex-direction: column;
  & .image {
    display: block;
    width: rem(40);
    height: rem(40);
    margin-bottom: rem(5);
    cursor: pointer;
    & img {
      width: 100%;
      max-height: 100%;
    }
  }
}
