@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: rem(30) 0 0;
  @media (--medium-and-up) {
    padding: rem(90) 0;
  }
}

.container{
  composes: globalContainer;
}

.header{
  @apply --defaultHeader;
}
