@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: rem(120) 0 rem(90);
  background-color: var(--bokara);
  position: relative;
}

.container{
  composes: globalContainer;
  display: flex;
  justify-content: flex-end;
}

.header{
  @apply --defaultHeader;
}

.production{
  width: calc(33% - rem(20));
}

.productImage{
  @apply --defaultBgImage;
  width: 50%;
  height: calc(100% + rem(200));
  position: absolute;
  top: 0;
  left: 0;  
  transform: translateY(-19%);
}
