@import "globals.css";
.wrapper {
  composes: globalWrapper;
  flex-direction: row;
  margin-bottom: rem(30);
  @media (--large-and-up) {
    margin-bottom: rem(70);
  }
}

.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media (--large-and-up) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.headline {
  margin-bottom: rem(40);
}

.intro {
  margin-bottom: rem(40);
}

.graphicCol {
  width: 100%;
  position: relative;
  margin-bottom: rem(60);
  -webkit-user-select: none !important;
  & .graphicDesktop {
    display: none;
  }
  @media (--large-and-up) {
    margin-bottom: 0;
    width: 60%;
  }
  @media (--medium-and-up) {
    & .graphicMobile {
      display: none;
    }
    & .graphicDesktop {
      display: block;
    }
  }
}

.process {
  @media (--large-and-up) {
    width: 40%;
  }
}
