@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: rem(70);
}

.container{
  composes: globalContainer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graphic{
  width: 60%;
  position: relative;
  & img{
    width: 100%;
  }

  & .rangeSlider{
    position: absolute;
    bottom: 0;
    left: rem(140);
  }  
}

.process{
  width: 40%;
}

:global{
  & .rangeslider {
    position: relative;
    width: rem(300);
    border-bottom: rem(2) dashed gray(30%);
  }
  & .rangeslider__fill{
  }    
  & .rangeslider__handle{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%,rem(-10),0);
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: rem(40);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    &:before{
      content: '';
      width: 0;
      height: 0;
      border-top: rem(5) solid transparent;
      border-bottom: rem(5) solid transparent;      
      border-right: rem(5) solid black;
      margin-right: rem(4);
    }
    &:after{
      content: '';
      width: 0; 
      height: 0; 
      border-top: rem(5) solid transparent;
      border-bottom: rem(5) solid transparent;      
      border-left: rem(5) solid black;
    }
    & .rangeslider__handle-label{
      position: absolute;
      top: rem(-30);
      transform: translateX(-50%) scale(0.8);
      color: gray(60%);
      left: 50%;
      font-size: rem(10);
      letter-spacing: rem(1.4);
      user-select: none;
    }
    &:focus {outline:0;}
  }
} 
