@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
}

.container{
  composes: globalContainer;
  z-index: 3;
}

.header{
  @apply --defaultHeader;
}

.bgImage{
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  transform: translateY(-30%);
  @apply --defaultSmoke;
}
