@import "globals.css";
.wrapper {
  composes: globalWrapper;
  position: relative;
  margin-bottom: rem(100);
}

.container{
  composes: globalContainer;
  display: flex;
  justify-content: flex-end;
}

.featuresBody {
  width: 63%;
  background: var(--defaultGradient);
  position: absolute;
  left: 0;
  top: 50%;
  height: calc(100% - rem(150));
  transform: translateY(-50%);
  padding: rem(120);
  @apply --boxShadowRight;
}

.miniNav {
  position: absolute;
  bottom: rem(-20);
  background-color: var(--muddyWaters);
  width: rem(210);
  display: flex;
  justify-content: space-between;
  padding: rem(15) rem(25);
  & .miniNavItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    width: rem(56);
    color: black;
    @apply --smallText;
    line-height: rem(14);
    transition: all 0.2s easeOutCubic;
    &:before{
      content: '';
      width: rem(8);
      height: rem(1);
      background-color: white;
      position: absolute;
      top: 50%;
      right: 0;
      opacity: 0;
      transition: all 0.2s easeOutCubic;
    }
    & svg {
      margin-top: rem(-3);
      width: rem(7);
      height: rem(13);
      transition: all 0.2s easeOutCubic;
      & path {
        fill: black;
      }
    }
    &.prev{
      &:before{
        left: 0;
        transform: translate(rem(8), rem(-2));
      }
      &:hover{
        & svg {
          transform: translateX(-30%);
        }
      }  
    }
    &.next{
      &:before{
        right: 0;
        transform: translate(rem(-8), rem(-2));
      }
      &:hover{
        & svg {
          transform: translateX(30%);
        }
      }  
    }
    &:hover{
      color: white;
      & svg path {
        fill: white;
      }
      &:before{
        opacity: 1;
        transform: translate(rem(0), rem(-2));
      }
    }
  }
  &:after {
    content: '|';
    color: black;    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.featuresContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  & .featureTitle {
    margin-bottom: rem(30);
    color: white;
  }
}

.featuresNav {
  width: 45%;
  background-color: var(--rangoon);
  padding: rem(100) rem(20) rem(100) rem(120);
  display: flex;
  justify-content: center;
  align-items: center;
  & ol {
    list-style-type: decimal-leading-zero;
  }
  & li {
    margin-bottom: rem(15);
  }
  & .featureNavItem {
    color: white;
    user-select: none;
    transition: all 0.2s;
    &:hover{
      color: var(--muddyWaters);
    }
    &,
    & button {
      @apply --smallText;
      letter-spacing: rem(2.4);
      cursor: pointer;
    }
    &.active {
      color: var(--muddyWaters);
    }
  }
}

.feature {
  display: none;
  &.active {
    display: block;
  }
}

.position {
  display: flex;
  align-items: center;
  & .positionBar {
    position: relative;
    width: rem(60);
    background-color: gray(80%);
    height: rem(2);
    margin-right: rem(15);
    & .timeoutBar {
      position: absolute;
      left: 0;
      top: 0;
      width: 0%;
      height: inherit;
      background-color: var(--muddyWaters);
      &.active {
        width: 100%;
        transition: width 5s linear;
      }
      &.reset {
        /* width: 0; */
        /* transition: width 0ms; */
      }
    }
  }
  & .slideNumber {
    @apply --smallText;
    color: var(--muddyWaters);
  }
}
