@import "globals.css";
.check {
  border-color: var(--muddyWaters);
  &.checked{
    background-color: var(--muddyWaters);
    border-color: var(--muddyWaters);
  }
}
.field{
  & .ripple{
    background-color: var(--muddyWaters);
  }
}
.text{
  color: white;
}
