@import "globals.css";
.wrapper{
  position: relative;
  z-index: 3;
  pointer-events: none;
}
.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (--medium-and-up) {
    height: rem(500);
  }
}
