@import "globals.css";
.wrapper {}

.images {
  width: 100%;
  height: 50vh;
  position: relative;
  & .image {
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
    & .inner {
      width: 100vw;
      height: inherit;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      & img,
      & svg {
        height: 100%;
      }
    }
  }
  & .before {
    z-index: 2;
  }
  & .after {
    width: 100%;
  }
  @media (--medium-and-up) {
    width: rem(550);
    height: rem(550);
    margin-bottom: rem(40);
    & .image .inner {
      width: rem(550);
    }
  }
}

.rangeSlider {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  @media (--large-and-up) {
    left: rem(140);
    transform: none;
  }
}

:global {
  & .before{
    & svg{
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}  

:global {
  & .feature {
    @apply --smallText;
    position: absolute;
    z-index: 3;
    width: rem(100);
    transition: all 0.2s;
    cursor: default;
    @media (--medium-and-up) {
      opacity: 0.4;
    }
    &:before {
      content: '';
      position: absolute;
      font-family: var(--primaryFont);
      font-size: rem(26);
      font-weight: bold;
      color: gray(4%);
      transform: translateX(-40%) translateY(-70%);
      z-index: -1;
      transition: all 0.2s;
      @media (--medium-and-up) {
        font-size: rem(60);        
      }
    }
    &:after {
      content: '';
      position: absolute;
      background-color: var(--muddyWaters);
      opacity: 0;
      transition: all 0.2s;
      height: rem(1);
    }
    &:hover,
    &:focus {
      opacity: 1;
      outline: none;
      &:before {
        color: black;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  & .feature1 {
    left: 30%;
    top: 10%;
    &:before {
      content: '01';
    }
    &:after {
      width: rem(190);
      right: rem(-40);
      transform: translate(rem(110), rem(30)) rotate(18deg);
    }
    @media (--medium-and-down) {
      left: 10%;
      right: auto;
      top: 0;
      &:after {
        width: rem(100);
        transform: translate(rem(50), rem(10)) rotate(18deg);        
      }
    }
    &:hover,
    &:focus {
      &~.before .section1 {
        & .st3 {
          stroke: var(--muddyWaters);
          stroke-width: rem(2);
        }
        & .st4 {
          fill: var(--muddyWaters);
        }  
      }
      &~.image .section1{
        &.st3{
          stroke: var(--muddyWaters);
        }
        & .st4 {
          fill: var(--muddyWaters);
        }
      }
    }
  }
  & .feature2 {
    right: 0;
    top: 40%;
    &:before {
      content: '02';
    }
    &:after {
      width: rem(160);
      left: rem(-40);
      transform: translateX(-100%);
    }
    @media (--medium-and-down) {
      top: 50%;
      text-align: right;
      &:after {
        width: rem(60);
        transform: translateX(-10%);        
      }
    }
    &:hover,
    &:focus {
      &~.before .section2 .st2{
        stroke: var(--muddyWaters);
        stroke-width: rem(2);
      }
      &~.image .section2 .st2 {
        stroke: var(--muddyWaters);
      }  
    }
  }
  & .feature3 {
    left: 0;
    bottom: 40%;
    &:before {
      content: '03';
    }
    &:after {
      width: rem(70);
      right: 0;
      transform: translate(rem(60), rem(0));
    }
    @media (--medium-and-down) {
      right: 0;
      bottom: 0;
      &:after {
        width: rem(80);
        transform: translate(rem(60), rem(0));
      }
    }
    &:hover,
    &:focus {
      &~.before .section3 .st2 {
        stroke: var(--muddyWaters);
        stroke-width: rem(2);
      }
      &~.image .section3 .st2 {
        stroke: var(--muddyWaters);
      }
    }
  }
  & .feature4 {
    right: 30%;
    bottom: 20%;
    &:before {
      content: '04';
    }
    &:after {
      width: rem(110);
      right: 0;
      transform: translate(rem(-110), rem(-20));
    }
    @media (--medium-and-down) {
      &:after {
        width: rem(40);
        transform: translate(rem(20), rem(0));
      }
    }
    &:hover,
    &:focus {
      &~.before .section4 .st2{
        stroke: var(--muddyWaters);
        stroke-width: rem(2);
      }
      &~.image .section4 .st2{
        stroke: var(--muddyWaters);
      }
    }
  }
  & svg.productExploded {
    fill: none;
    pointer-events: all;
    & .st2 {
      fill: none;
      stroke: #4D4D4D;
      stroke-width: 0.75;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      transition: all 0.2s;
    }
    & .st3 {
      fill: none;
      stroke: #4D4D4D;
      stroke-width: 0.75;
      stroke-miterlimit: 10;
      transition: all 0.2s;
    }
    & .section1:hover {
      & .st3 {
        stroke: var(--muddyWaters);
      }
      & .st4 {
        fill: var(--muddyWaters);
      }
    }
    & .section2:hover {
      & .st2 {
        stroke: var(--muddyWaters);
      }
    }
    & .section3:hover {
      & .st2 {
        stroke: var(--muddyWaters);
      }
    }
    & .section4:hover {
      & .st2 {
        stroke: var(--muddyWaters);
      }
    }
  }
  & .before {
    & .section1:hover {
      & .st3 {
        stroke: var(--muddyWaters);
        stroke-width: rem(2);
      }
    }
    & .section2:hover,
    & .section3:hover,
    & .section4:hover {
      & .st2 {
        stroke-width: rem(2);
      }
    }
  }
}

:global {
  & .rangeslider {
    position: relative;
    width: 60%;
    border-bottom: rem(1.5) dashed var(--muddyWaters);
    margin-top: rem(50);
    @media (--large-and-up) {
      margin-top: 0;
      width: rem(300);
    }
  }
  & .rangeslider__fill {}
  & .rangeslider__handle {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, rem(-14), 0);
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: rem(30);
    height: rem(30);
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-top: rem(5) solid transparent;
      border-bottom: rem(5) solid transparent;
      border-right: rem(5) solid black;
      margin-right: rem(4);
    }
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-top: rem(5) solid transparent;
      border-bottom: rem(5) solid transparent;
      border-left: rem(5) solid black;
    }
    &:before,
    &:after{
      transition: all 0.2s;
    }
    &:hover{
      &:before{
        transform: translateX(rem(-2));
      }
      &:after{
        transform: translateX(rem(2));
      }
    }
    & .rangeslider__handle-label {
      @apply --smallText;
      letter-spacing: rem(5);
      position: absolute;
      top: rem(-20);
      transform: translateX(-50%) scale(0.8);
      color: gray(60%);
      left: 50%;
      user-select: none;
      opacity: 1;
      transition: opacity 0.2s;
    }
    &:focus {
      outline: 0;
      & .rangeslider__handle-label{
        opacity: 0;
      }
    }
    @media (--large-and-up) {
      width: rem(40);
      height: rem(40);  
      transform: translate3d(-50%, rem(-18), 0);
      & .rangeslider__handle-label {
        top: rem(-30);
      }
    }
  }
}
