@import "globals.css";
.wrapper{
  composes: globalWrapper;
  width: 100%;
  pointer-events: none;
  @media (--medium-and-up) {
    position: absolute;
    top: rem(220);
    &:before{
      content: '';
      background-color: var(--bokara);
      position: absolute;
      top: 0;
      right: 0;
      width: calc(50% - rem(70));
      height: 100%;
      @apply --boxShadowLeft;
    }
  }
}
.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & .inner{
    pointer-events: all;
    width: 100%;
    padding: rem(30);
    @media (--medium-and-up) {
      width: rem(380);
      padding: rem(80) 0 rem(60);
    }
  }
}

.headline{
  margin-bottom: rem(30);
}

.checkboxes{
  @media (--medium-and-up) {
    column-count: 2;
    column-gap: rem(20);
  }
}
