@import "globals.css";
.wrapper{
  order: -2;
  composes: globalWrapper;
  background-color: transparent;
  position: relative;
  z-index: 3;
  pointer-events: none;
}
.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (--medium-and-up) {
    height: rem(500);
  }
}

.contactInfo{
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & a{
    color: white;
  }
  @media (--medium-and-up) {    
    margin-top: rem(350);
    width: rem(550);
    flex-direction: row;
    & .col{
      margin-right: rem(20);
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
