@import "globals.css";
.wrapper{
  position: relative;
  z-index: 3;
  pointer-events: none;
}
.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (--medium-and-up) {
    height: rem(500);
  }
}

.hero{
  @media (--medium-and-up) {    
    position: absolute;
    top: rem(220);
    width: rem(500);
    & .headline{
      font-size: rem(50);
      margin-bottom: rem(30);
    }
  }
}

.contactInfo{
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & a{
    color: white;
  }
  @media (--medium-and-up) {    
    flex-direction: row;
    & .col{
      width: calc(50% - rem(20));
    }
  }
}
