@import "globals.css";
.wrapper{
  position: relative;
  z-index: 3;
  pointer-events: none;
}
.container {
  composes: globalContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (--medium-and-up) {
    height: rem(500);
  }
}

.contactInfo{
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & a{
    color: white;
  }
  @media (--medium-and-up) {    
    margin-top: rem(350);
    width: rem(630);
    flex-direction: row;
    & .col{
      width: calc(50% - rem(20));
    }
  }
}
