@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: rem(160) 0 rem(160);
}

.container {
  composes: globalContainer;
}

.header {
  @apply --defaultHeader;
}
