@import "globals.css";
.wrapper {
  composes: globalWrapper;
  width: 100%;
  align-items: flex-start;
  @media (--medium-and-up) {
    margin-top: rem(120);
    padding-bottom: rem(150);
  }
  @media (height < 800px) {
    margin-top: rem(50);
  }
}

.productImage {
  @apply --defaultBgImage;
  width: calc(100% - rem(30));
  min-height: rem(250);
  @media (--medium-and-up) {
    width: 70vw;
    min-height: rem(600);
  }    
}
