@import "globals.css";
.wrapper {
  composes: globalWrapper;
  width: 100%;
  align-items: flex-start;
  @media (--medium-and-up) {
    margin-bottom: rem(100);
  }
}

.productImage {
  @apply --defaultBgImage;
  width: calc(100% - rem(30));
  min-height: rem(250);
  @media (--medium-and-up) {
    width: 70vw;
    min-height: rem(400);      
  }    
}
