@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  @media (--medium-and-up) {
    margin: rem(90) 0;
  }
}

.container{
  composes: globalContainer;
}

.header{
  @apply --defaultHeader;
}
