@import "globals.css";
.cart {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  max-width: 100%;
  background-color: gray(16%);
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}

.cartOpen {
  transform: translateX(0);
}

.cartHeader {
  padding: rem(20);
  border-bottom: rem(1) solid #1d0909;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .headline {}
  & .cartClose {
    line-height: 100%;
    font-size: rem(35);
    color: gray(50%);
    border: none;
    background: transparent;
    transition: all 0.2s;
    cursor: pointer;
    &:hover{
      color: white;
    }
  }
}

.cartLineItems {
  flex: 1 0 auto;
  margin: 0;
  padding: rem(20);
}

.cartFooter {
  padding: rem(20);
  border-top: rem(1) solid black;
  flex: 0 0 auto;
}

.cartCheckout {
  @apply --smallText;
  background-color: var(--muddyWaters);
  cursor: pointer;
  margin-top: rem(30);
  padding: rem(10);
  display: block;
  width: 100%;
  transition: all 0.2s;
  &:hover{
    background-color: var(--husk);    
  }
}

.cartInfo {
  padding-bottom: rem(10);
  display: flex;
  justify-content: space-between;
}

.cartInfoSmall {
  @apply --smallText;
}

.cartInfoPricing {
}

.pricing {
  margin-left: rem(5);
  font-size: rem(16);
  color: white;
}

.bgOverlay{
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(black alpha(80%));
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  &.active{
    opacity: 1;
    pointer-events: auto;
  }
}
