@import "globals.css";
.cart {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  max-width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}

.cartOpen {
  transform: translateX(0);
}

.cartHeader {
  padding: rem(20);
  border-bottom: rem(1) solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .headline {}
  & .cartClose {
    line-height: 100%;
    font-size: rem(35);
    color: #999;
    border: none;
    background: transparent;
    transition: transform 100ms ease;
    cursor: pointer;
  }
}

.cartLineItems {
  flex: 1 0 auto;
  margin: 0;
  padding: rem(20);
}

.cartFooter {
  padding: rem(20);
  border-top: rem(1) solid #e5e5e5;
  flex: 0 0 auto;
}

.cartCheckout {
  @apply --smallText;
  background-color: var(--muddyWaters);
  cursor: pointer;
  margin-top: rem(30);
  padding: rem(10);
  display: block;
  width: 100%;
}

.cartInfo {
  padding: rem(15) rem(20) rem(10);
}

.cartInfoTotal {
  float: left;
  text-transform: uppercase;
}

.cartInfoSmall {
  font-size: rem(11);
}

.cartInfoPricing {
  float: right;
}

.pricing {
  margin-left: rem(5);
  font-size: rem(16);
  color: black;
}
