@import "globals.css";
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container{
  composes: globalContainer;
}

.header{
  @apply --defaultHeader;
}

@media (--only-small){
  .featureBoxes{
    & .box:last-child{
      margin-bottom: 0;
      & div:first-child{
        &:before{
          content: '';
          float: right;
          width: rem(150);
          height: rem(180);
          shape-outside: polygon(100% 0,0 100%,100% 100%);
        }
      }
    }
  }  
}
